* {
  font-family: arrik-Regular, Helvetica, Arial, sans-serif;



}
@import url("https://zngrs.github.io/zaneg.net--assets/static/fonts/Karrik-Regular.ttf");

@font-face {
  font-family: Karrik-Regular;
  src: url("https://zngrs.github.io/zaneg.net--assets/static/fonts/Karrik-Regular.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-alternate-rgb: 250, 250, 250 
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 22, 22, 23;
    --background-alternate-rgb: 26, 26, 28;
    --background-end-rgb: 16, 17, 18;
  }
}
html {
  height: 100%;
}

.bg-alternate {
    background-color: rgb(var(--background-alternate-rgb))
}

body {
  min-height: 100%;
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-end-rgb));
}

.border\=\text {
  border-color: rgb(var(--foreground-rgb));
}

.cell:first-child {
  border-left: none !important;
}
.cell:last-child {
  border-right: none !important;
}

.cell {
  border-width: 1px;
  border-top: none;
  border-bottom: none;
}


.font-serif {
  font-family: 'Times New Roman', Times, serif !important;
}


span {
  font: inherit;
  font-size: inherit;
  color: inherit;
}
.down-arrow {
  transition: .3s;
}

.down-arrow:hover {
  /* transform: translateY(5px); */
}


.glass {
    background: rgba(var(--background-end-rgb), 0.2);
    z-index: 100;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);

}
